###############################################################################
#### ignore folder
###############################################################################
etc/
target/

###############################################################################
#### ignore files
###############################################################################
*.dat
*.meta
*.class