###############################################################################
#### ignore folder
###############################################################################
etc/

###############################################################################
#### ignore files
###############################################################################
*.dat
*.meta